.text-middle
{
		vertical-align:middle;
}

.text-top
{
		vertical-align:top;
}

.text-bottom
{
		vertical-align:bottom;
}

.inline-block
{
    display: inline-block;
}


.block
{
    display: block;
}